.layout,
.wc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.wc{
    height: 10rem;
    margin-top: 5rem;
}
.nav1{ 
    width: 80%;

}

.layout ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.logoimg{
    width: 6%
}
img{
width: 100%;
}


li{
    list-style: none;
}

.nav li a{
    text-decoration: none!important;
    color: aliceblue!important;

}
a{
    text-decoration: none!important;
    

}

.reg a{
    color: black!important;
   

}

.reg{
   
    display: flex;
    align-items: center;
}

.username{
    color: aliceblue!important;
    margin-right: 15px;
}
.reg{
    color: black !important;
}
.login{
    display: flex;
    align-items: center;

}



